* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;
	color: #242424;
}


.container {
	width: 1300px;
	margin: 0px auto;
} 

.slider {
    text-align: center; 
}

.slider img {
    width: 60%; 
    display: block; 
    margin: 0 auto !important; 
}

footer{
    text-align: center;
    padding: 20px;
    background-color:aqua;
}